@import "./styles/reset.css";

/* COLOR VARIABLES */
:root {
  --color-primary: #061a40;
  --color-secondary: #0353a4;

  --button-primary: #003559;
  --button-secondary: #006daa;

  --color-highlight: #ffbf00;

  /* Neutrals */
  --neutral-light: #fdf9f3;
  --neutral-dark: #2b2b2b;

  /* Fonts */
  --font-one: "Montserrat", sans-serif;
  --font-two: "Open Sans", sans-serif;
}

/* maybe magistral font */

/* NAVBAR */
.navbar {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

/* navbar container mobile */
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--button-primary);
  height: 6rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav-bottom {
  height: 0.25rem;
  background-color: var(--color-secondary);
  width: 100%;
}

.nav-bottom2 {
  height: 0.25rem;
  background-color: var(--button-secondary);
  width: 100%;
}

.navbar-links {
  list-style-type: none;
  padding-left: 0;
  display: none;
  font-family: var(--font-one);
  font-weight: bold;
}

.navbar-links-text {
  text-decoration: none;
  color: var(--neutral-light);
  transition: color 0.3s ease-in-out; /* Optional: smooth hover effect */
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
}

.navbar-links-text:hover {
  color: var(--button-secondary);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
}

#navbar-toggle {
  /* HEIGHT AND WIDTH MUST MATCH NAVLEFTMOBILE */
  width: 40px;
  height: 40px;
  background-color: var(--button-primary);
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  flex-shrink: 0;
}

.nav-left-mobile {
  /* HEIGHT AND WIDTH MUST MATCH NAVBARTOGGLE */
  width: 40px;
  height: 40px;
  border: none;
  padding: 0;
  margin: 0;
}

.navbar-logo {
  display: flex;
  align-items: center;
  height: 100%;
  flex-shrink: 0;
}

.navbar-logo img {
  min-height: 5.1rem;
  height: 5.1rem;
  width: auto; /* Maintain aspect ratio */
  display: block;
  flex-shrink: 0; /* Prevent shrinking in flex containers */
}
/* NAVBAR END */

/* HERO IMAGE */

.header-text {
  font-family: var(--font-one);
}

.sub-text {
  font-family: var(--font-two);
}

.hero-items-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
  min-height: 70vh;
  justify-content: center;
  overflow: hidden;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

.hero-heading-text {
  text-align: center;
  font-size: 2rem;
  color: var(--neutral-light);
  font-weight: bold;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
}

.hero-sub-text {
  text-align: center;
  font-size: 1.4rem;
  margin: 1rem;
  margin-bottom: 2rem;
  color: var(--neutral-light);
  font-weight: bold;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
}

.hero-divider-container {
  display: flex;
  justify-content: center;
}

.hero-divider {
  width: 4rem;
  height: 2px; /* or however thick you want the line */
  background-color: var(--neutral-light);
  border: none; /* remove default border */
}

.hero-btn-container {
  display: flex;
  justify-content: center;
}

.hero-action-btn {
  font-family: var(--font-one);
  border: none;
  display: flex;
  padding: 0.75rem 1.5rem;
  background-color: var(--color-highlight);
  color: var(--neutral-dark);
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  gap: 0.75rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
  transition: all 0.6s ease;
}

.hero-action-btn:hover {
  background-color: var(--button-secondary);
  color: var(--neutral-light);
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  z-index: -1;
  filter: brightness(21%) blur(0px);
}

/* HERO IMAGE END */
/* HERO IMAGE END */
/* HERO IMAGE END */

/* SECTION2 */
/* SECTION2 */
/* SECTION2 */

.section2-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  gap: 1rem;
  min-height: 40vh;
  justify-content: center;
  overflow: hidden;
  background-color: var(--neutral-dark);
  text-align: center;
}

.section2-divider-container {
  display: flex;
  justify-content: center;
  background-color: var(--neutral-dark);
}

.section2-divider {
  width: 10rem;
  height: 4px; /* or however thick you want the line */
  background-color: var(--color-highlight);
  border: none; /* remove default border */
}

.section2-heading {
  font-family: var(--font-one);
  color: var(--button-secondary);
  font-size: 1.3rem;
  font-weight: bold;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
}

.section2-subtitle {
  font-family: var(--font-two);
  color: var(--neutral-light);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
}
/* SECTION2 END */
/* SECTION2 END */
/* SECTION2 END */

/* SECTION3 */
/* SECTION3 */
/* SECTION3 */

.section3-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  gap: 1rem;
  min-height: 40vh;
  justify-content: center;
  overflow: hidden;
  background-color: var(--button-primary);
  text-align: center;
}

.section3-divider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; /* Removes any vertical spacing */
  padding: 0; /* Also important */
  height: 4px; /* Matches the height of the hr */
  background-color: var(--neutral-dark); /* So there's no gap behind the HR */
}

.section3-divider {
  /* HEIGHT MUST MATCH DIVIDER CONTAINER */
  height: 4px;
  width: 10rem;
  background-color: var(--color-highlight);
  border: none;
  margin: 0; /* Critical: removes default spacing */
}

.section3-heading {
  font-family: var(--font-one);
  color: var(--neutral-light);
  font-size: 1.3rem;
  font-weight: bold;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
}

.section3-subtitle {
  font-family: var(--font-two);
  color: var(--neutral-light);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
}

/* SECTION3 END */
/* SECTION3 END */
/* SECTION3 END */

/* SECTION4 */
/* SECTION4 */
/* SECTION4 */

.section4-divider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; /* Removes any vertical spacing */
  padding: 0; /* Also important */
  height: 4px; /* Matches the height of the hr */
  background-color: var(--button-primary); /* So there's no gap behind the HR */
}

.section4-divider {
  /* HEIGHT MUST MATCH DIVIDER CONTAINER */
  height: 4px;
  width: 10rem;
  background-color: var(--color-highlight);
  border: none;
  margin: 0; /* Critical: removes default spacing */
}

.section4-container {
  position: relative;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 4rem 2rem;
}

.hero-image4 {
  position: absolute;
  top: -55%;
  left: 0;
  width: 100%;
  height: 230%; /* slightly larger for smoother movement */
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
  filter: brightness(20%);
  transition: transform 0.2s ease-out;
}

.section4-content {
  position: relative;
  z-index: 1;
  text-align: center;
  max-width: 800px;
}

.section4-heading {
  font-family: var(--font-one);
  color: var(--neutral-light);
  font-size: 1.3rem;
  font-weight: bold;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
}

.section4-subtitle {
  font-family: var(--font-two);
  color: var(--neutral-light);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
}

/* SECTION4 END */
/* SECTION4 END */
/* SECTION4 END */

/* FOOTER */
/* FOOTER */
/* FOOTER */

.footer-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  gap: 1rem;
  min-height: 70vh;
  justify-content: center;
  overflow: hidden;
  background-color: var(--neutral-dark);
  text-align: center;
}

/* FOOTER END */
/* FOOTER END */
/* FOOTER END */

/* START MEDIA QUERIES */
/* START MEDIA QUERIES */
/* START MEDIA QUERIES */

/* Small devices (phones in portrait mode) */
@media (min-width: 320px) {
  /* Styles for small devices */
}

/* Medium devices (phones in landscape mode or smaller tablets) */
@media (min-width: 480px) {
  /* Styles for medium devices */
  .hero-heading-text {
    font-size: 2.5rem;
  }
}

/* Larger phones or small tablets */
@media (min-width: 600px) {
  /* Styles for larger phones or small tablets */
}

/* Tablets */
@media (min-width: 768px) {
  /* Styles for tablets */

  /* NAVBAR */
  #navbar-toggle {
    display: none;
  }

  .navbar-container {
    height: 10rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .navbar-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Horizontal layout */
    gap: 1.4rem;
    font-size: 0.8rem;
    margin-left: 2rem;
  }

  .navbar-logo img {
    height: 7.5rem;
  }

  .nav-left-mobile {
    display: none;
  }

  .nav-bottom {
    height: 0.5rem;
  }

  .nav-bottom2 {
    height: 0.5rem;
  }
  /* NAVBAR END */

  /* HERO IMAGE */

  .hero-items-container {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .hero-heading-text {
    text-align: left;
  }

  .hero-btn-container {
    margin-top: 2rem;
  }

  .hero-sub-container {
    text-align: left;
  }

  .hero-sub-text {
    margin: 0rem;
    text-align: left;
  }
  .hero-divider-container {
    display: flex;
    justify-content: left;
  }

  .hero-btn-container {
    display: flex;
    justify-content: left;
  }

  .hero-divider {
    width: 5.5rem;
  }
  /* HERO IMAGE END */

  /* SECTION2 */
  .section2-container {
    padding-left: 16rem;
    padding-right: 16rem;
  }
}

/* extra breakpoint for navbar */
@media (min-width: 953px) {
  /* NAVBAR */
  .navbar-links {
    gap: 1.6rem;
    font-size: 1.2rem;
  }

  .navbar-logo img {
    height: 8rem;
  }
  /* NAVBAR END */
}

/* Small desktop or large tablets in landscape */
@media (min-width: 1024px) {
  /* Styles for small desktops or larger tablets */
  /* NAVBAR */
  .navbar-links {
    gap: 1.6rem;
    font-size: 1.3rem;
  }

  .navbar-logo img {
    height: 8.2rem;
  }
  /* NAVBAR END */
}

/* Laptops and desktops */
@media (min-width: 1280px) {
  /* Styles for laptops and desktops */
}

/* Larger desktops */
@media (min-width: 1440px) {
  /* Styles for larger desktops */
  /* NAVBAR */
  .navbar-links {
    gap: 2rem;
    font-size: 1.5rem;
  }

  .navbar-logo img {
    height: 8.9rem;
  }
  /* NAVBAR END */

  .hero-heading-text {
    font-size: 3rem;
  }

  .hero-sub-text {
    font-size: 2rem;
  }

  /* .hero-btn-container {
    margin-top: 4rem;
  } */

  .hero-action-btn {
    font-size: 1rem; /* increase text size */
    line-height: 1.25rem; /* adjust line height */
    padding: 1rem 2rem; /* make the button taller and wider */
    gap: 1rem; /* more space between icon and text */
    border-radius: 0.75rem; /* slightly rounder corners */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6); /* slightly deeper shadow */
  }
}

/* Very large screens */
@media (min-width: 1920px) {
  /* Styles for very large screens (4K and above) */
}

/* UTILITY CLASSES */
/* UTILITY CLASSES */
/* UTILITY CLASSES */

.highlight {
  color: var(--color-highlight);
}

.unstyled-link {
  color: inherit;
  text-decoration: none;
}

.user-select-none {
  user-select: none;
  -webkit-user-select: none; /* For Safari */
  -ms-user-select: none; /* For IE/Edge */
}
