@import "./styles/reset.css";
/* maybe magistral font */

/* NAVBAR */
a {
  text-decoration: none;
  color: #9ed8db;
  transition: color 0.3s ease-in-out; /* Optional: smooth hover effect */
}

a:hover {
  color: #d64045; /* soft, modern red */
}

.navbar {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

/* navbar container mobile */
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1d3354;
  height: 6rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav-bottom {
  height: 0.5rem;
  background-color: #d64045;
  width: 100%;
}

.nav-bottom2 {
  height: 0.25rem;
  background-color: #467599;
  width: 100%;
}

.navbar-links {
  list-style-type: none;
  padding-left: 0;
  display: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  /* text-transform: uppercase; */
  user-select: none;
  -webkit-user-select: none; /* For Safari */
  -ms-user-select: none; /* For IE/Edge */
}

#navbar-toggle {
  width: 5rem;
  height: 5rem;
  background: rgb(0, 0, 0);
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  flex-shrink: 0;
}

.nav-left-mobile {
  width: 5rem;
  height: 5rem;
  border: none;
  padding: 0;
  margin: 0;
}

.navbar-logo {
  display: flex;
  align-items: center;
  height: 100%;
  flex-shrink: 0;
}

.navbar-logo img {
  min-height: 5.1rem;
  height: 5.1rem;
  width: auto; /* Maintain aspect ratio */
  display: block;
  user-select: none;
  -webkit-user-select: none; /* For Safari */
  -ms-user-select: none; /* For IE/Edge */
  flex-shrink: 0; /* Prevent shrinking in flex containers */
}

/* Small devices (phones in portrait mode) */
@media (min-width: 320px) {
  /* Styles for small devices */
}

/* Medium devices (phones in landscape mode or smaller tablets) */
@media (min-width: 480px) {
  /* Styles for medium devices */
}

/* Larger phones or small tablets */
@media (min-width: 600px) {
  /* Styles for larger phones or small tablets */
}

/* Tablets */
@media (min-width: 768px) {
  /* Styles for tablets */
  #navbar-toggle {
    display: none;
  }

  .navbar-container {
    height: 10rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .navbar-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Horizontal layout */
    gap: 1.4rem;
    font-size: 0.9rem;
  }

  .navbar-logo img {
    height: 7.5rem;
  }

  .nav-left-mobile {
    display: none;
  }

  .nav-bottom {
    height: 1rem;
  }

  .nav-bottom2 {
    height: 0.5rem;
  }
}

/* extra breakpoint for navbar */
@media (min-width: 960px) {
  .navbar-links {
    gap: 1.6rem;
    font-size: 1.3rem;
  }

  .navbar-logo img {
    height: 8rem;
  }
}

/* Small desktop or large tablets in landscape */
@media (min-width: 1024px) {
  /* Styles for small desktops or larger tablets */
  .navbar-links {
    gap: 1.6rem;
    font-size: 1.3rem;
  }

  .navbar-logo img {
    height: 8rem;
  }
}

/* Laptops and desktops */
@media (min-width: 1280px) {
  /* Styles for laptops and desktops */
}

/* Larger desktops */
@media (min-width: 1440px) {
  /* Styles for larger desktops */
  .navbar-links {
    gap: 2rem;
    font-size: 1.5rem;
  }

  .navbar-logo img {
    height: 9rem;
  }
}

/* Very large screens */
@media (min-width: 1920px) {
  /* Styles for very large screens (4K and above) */
}
